<div class="position-relative layout-wrapper h-100 d-flex flex-column">
  <app-project-header></app-project-header>
  <div class="h-100 row">
    <div class="col-2 h-100">
      <aside class="bg-white bg-opacity-50 h-100 rounded-top pt-4">
        <img
          src="../../../../assets/images/logo.svg"
          alt="logo"
          class="bg-white p-2 rounded d-block m-auto"
        />
        <h1 class="text-white text-center mt-3">Yönetim Paneli</h1>
      </aside>
    </div>
    <div class="col-10 h-100">
      <div class="bg-white bg-opacity-50 h-100 rounded-top">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
